/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0 32px;
}

mat-form-field {
  width: 100%;
}

.page {
  margin-top: 78px !important;

  .header-card {
    width: 100%;
    display: flex;
    place-content: center space-between;
    align-items: center;
    padding: 0px 32px 32px;
  }

  .mat-elevation-z8 {
    .table {
      width: 100%;
      overflow-x: auto;
    }
  }
}
